.addBtn{
    background-color: #e69854 !important ;
    color: white !important ;
    font-weight: bold !important ;
}
.addBtn:hover{
    background-color: #e69854 !important  ;
    color: white !important;
    font-weight: bold; 
}
.first-container{
    margin: 20px;
    background-color: #e0daf8a8;
    text-align: center;
    padding: 20px;
  }